#box {
  background-image: url(../img/backgrounds/landing.jpg);
  height: 550px;
}
.overlay {
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.spana {
  font-size: 50px;
  color: white;
}
#foo {
  display: block;
  margin:auto;
  padding: 2px;
}
#foo1 {
  text-align: center;
  font-size: 25px;
  padding-top: 0px;
  margin-top: 0px;
  color: #f4faf7;
}
.wrap {
  width: 50%;
  color: #f4faf7;
  padding: 15px;
}
.icon {
  width: 40px;
  margin: 6px 0px;
  background-color: #f4faf7;
  height: 6px;
}
.container-fluid .row3 {
  height: 250px;
  padding: 0px;
}
.row3 .image:hover {
  color:#000000;
  filter: opacity(80%);
  color: black;
}
#one {
  background-color: #cad9d1;
  height: 125px;
  text-align: center;
  font-size: 25px;
  padding: 0;
}
#two {
  background-color: #F15A29;
  height: 125px;
  text-align: center;
  font-size: 25px;
  padding: 0;
  color: #faf7f7;
}
#foo2 {
  background-image: url(../img/foodtop/breakfast.jpg);
  text-align: center;
  font-size: 25px;
  padding: 125px 0px 125px 20px;
  color: #faf7f7;
  cursor: pointer;
}
#foo2:hover {
  color: black;
}
.padding-1 {
  padding-left:0;
  padding-right: 0;
}
#foo3 {
  background-image: url(../img/foodtop/lunch.jpg);
  text-align: center;
  font-size: 25px;
  padding: 125px 0px 125px 20px;
  color: #faf7f7;
  cursor: pointer;
}
#foo3:hover {
  color: black;
}
#foo4 {
  background-image: url(../img/foodtop/dinner.jpg);
  text-align: center;
  font-size: 25px;
  padding: 125px 0px 125px 20px;
  color: #faf7f7;
  cursor: pointer;
}
#foo4:hover {
  color: black;
}
.row1 {
  margin: 60px;
}
.col1 {
  border: 3px solid #ddd;
  padding: 5px;
  box-shadow: 8px #150602;
}
.col2 {
  padding: 20px;
}
#fast {
  font-size: 35px;
}
#fast1 {
  font-size: 20px;
}
.btn-default{
  color: #F15A29;
  background-color: #fff;
  border-color: #F15A29;
  padding: 13px 30px 11px 25px;
}
.btn-default:hover{
  background-color: #f98224;
  color: #fff;
  font-weight: 700;
}
#drink {
  font-size: 35px;
}
#drink2 {
  font-size: 20px;
}
.column5 {
  float: left;
  width: 50%;
}
.row2::after {
  content: "";
  clear: both;
  display: table;
}
#box1 {
  background-image: url(../img/backgrounds/foodsBg.jpg);
  margin-top: 30px;
  height: 550px;
  display: flex;
}
#cony {
  background-color: white;
  margin: 50px;
  padding: 20px;
}
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}

.bar {
  padding-top: 0px;
}
.nav-link {
  margin: 20px;
}
.foo5 {
  float: left;
  padding: 25px;
}
.row4::after {
  clear: both;
}
#box2 {
  height: 300px;
  margin-top: 40px;
}
#happy {
  font-size: 20px;
  color: #F15A29;
  text-align: center;
  padding-top: 40px;
}
.subscribe{
  background: url('../img/backgrounds/subscribe.jpg') #333;
  background-size: cover;
  object-position: center;
  height: 320px;
  padding: 100px 40px 0px 40px;
}
.subscribe h2{
  color: #fff;
}
.btn-subscribe{
  background: #F15A29;
  padding: 7px 51px!important;
  color: #fff;
  border-radius: 2px;
  font-weight: 500;
}
.form-subscribe {
  height: 40px !important;
  padding: 2px 50px 0px 12px !important;
  background: rgba(144, 144, 144, 0.63) !important;
  border: 1px solid rgba(98, 95, 95, 0.28) !important;
  margin: 10px 15px 10px 400px;
  color:#fff!important;
}
.form-inline{
  font-family:'PT Sans', sans-serif;
  font-weight:500;
}
.btn-highlight:hover{
  color: #F15A29;
  background-color: #fff;
  border-color: #F15A29;
}
.form-control::placeholder{
  color:#fff!important;
  font-size:15px;
  opacity:0.8;
}
#box4 {
  background-color: #F15A29;
  height: 300px;
}
#logo {
  padding-top: 50px;
  margin-left: 45px;
}
#logo1 {
  color: white;
  font-size: 35px;
}
#logo2 {
  color: white;
  font-size: 18px;
  padding-left: 5px;
}
.images img {
  margin-left: 15px;
}
#face {
  margin-left: 0;
}
#resta {
  font-size: 15px;
  padding-top: 35px;
  color: white;
}
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
#fan {
  padding: 0 10px 0px 10px;
  font-size: 30px;
  color: #F15A29;
}
#fany {
  display: flex;
  margin: 40px 20px 20px 55px;
  border-color: #efeff5;
  border-style: solid;
  border-width: 3px;
}
#amaze {
  padding: 0px 0 0 0;
}
#happy1 {
  font-size: 20px;
  padding-top: 0px;
  color: #F15A29;
}
#geo {
  font-size: 18px;
}
#od {
  color: #F15A29;
}
#od1 {
  color: black;
  background-color: #d9d9ed;
}
#desc {
  color: #F15A29;
}
.border-right {
  border-right: 1px solid black;
  height: 235px;
  margin-top: 10px;
}
