#box {
  background-image: url(../img/backgrounds/landing.jpg);
  margin-top: 10px;
  height: 450px;
}
#dropbtn {
  background-image: url(../img/backgrounds/landing.jpg);
  border-style: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
#foo {
  display: block;
  margin:auto;
  padding: 2px;
}
#foo1 {
  text-align: center;
  font-size: 25px;
  padding-top: 0px;
  margin-top: 0px;
  color: #f4faf7;
}
.wrap {
  width: 50%;
  color: #f4faf7;
  padding: 15px;
}
.icon {
  width: 40px;
  margin: 6px 0px;
  background-color: #f4faf7;
  height: 6px;
}
.container-fluid .row3 {
  height: 250px;
  padding: 0px;
}
#one {
  background-color: #cad9d1;
  height: 125px;
  text-align: center;
  font-size: 25px;
  padding: 0;
}
#two {
  background-color: #F15A29;
  height: 125px;
  text-align: center;
  font-size: 25px;
  padding: 0;
  color: #faf7f7;
}
#foo2 {
  background-image: url(../img/foodtop/breakfast.jpg);
  text-align: center;
  font-size: 25px;
  padding: 125px 0px 125px 20px;
  color: #faf7f7;
}
.padding-1 {
  padding-left:0;
  padding-right: 0;
}
#foo3 {
  background-image: url(../img/foodtop/lunch.jpg);
  text-align: center;
  font-size: 25px;
  padding: 125px 0px 125px 20px;
  color: #faf7f7;
}
#foo4 {
  background-image: url(../img/foodtop/dinner.jpg);
  text-align: center;
  font-size: 25px;
  padding: 125px 0px 125px 20px;
  color: #faf7f7;
}
.row1 {
  margin: 60px;
}
.col1 {
  border: 3px solid #ddd;
  padding: 5px;
  box-shadow: 8px #150602;
}
.col2 {
  padding: 20px;
}
#fast {
  font-size: 35px;
}
#fast1 {
  font-size: 20px;
}
#button {
  border-color: #F15A29;
  background-color: white;
  border-radius: 3px;
}
#drink {
  font-size: 35px;
}
#drink2 {
  font-size: 20px;
}
.column5 {
  float: left;
  width: 50%;
}
.row2::after {
  content: "";
  clear: both;
  display: table;
}
#box1 {
  background-image: url(../img/backgrounds/foodsBg.jpg);
  margin-top: 30px;
  height: 550px;
  display: flex;
}
#cony {
  background-color: white;
  margin: 50px;
  padding: 20px;
}
.bar {
  padding-top: 0px;
}
.nav-link {
  margin: 20px;
}
.foo5 {
  float: left;
  padding: 25px;
}
.row4::after {
  clear: both;
}
#box2 {
  height: 400px;
  margin-top: 40px;
}
#happy {
  font-size: 20px;
  color: #F15A29;
  text-align: center;
  padding-top: 40px;
}
#box3 {
  background-image: url(../img/backgrounds/subscribe.jpg);
  margin-top: 30px;
  height: 300px;
}
#items {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 100px;
}
.formy {
  display: block;
  text-align: center;
}
#formy1 {
  display: inline-block;
  text-align: left;
}
.btn {
  background-color: #F15A29;
  border-color: #F15A29;
}
#box4 {
  background-color: #F15A29;
  height: 300px;
}
#logo {
  padding-top: 50px;
  margin-left: 45px;
}
#logo1 {
  color: white;
  font-size: 35px;
}
#logo2 {
  color: white;
  font-size: 18px;
  padding-left: 5px;
}
.images img {
  margin-left: 15px;
}
#face {
  margin-left: 0;
}
#resta {
  font-size: 15px;
  padding-top: 35px;
  color: white;
}
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
#fan {
  padding: 0 10px 0px 10px;
  font-size: 30px;
  color: #F15A29;
}
#fany {
  display: flex;
  margin: 115px 20px 20px 55px;
  border-color: #efeff5;
  border-style: solid;
  border-width: 3px;
}
#amaze {
  padding: 0px 0 0 0;
}
#happy1 {
  font-size: 20px;
  padding-top: 10px;
  color: #F15A29;
}
#geo {
  font-size: 18px;
}
#od {
  color: #F15A29;
}
#od1 {
  color: black;
  background-color: #d9d9ed;
}
#desc {
  color: #F15A29;
}
